<!DOCTYPE html>
<html>
  <head>
    <title>Coinprice: Criptomonedas en tiempo real</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
